p{
    text-align: center;
    font-size: 33px;
    background-color: burlywood;
    padding: 10px;
}

small{
    text-align: center;
    font-size: 33px;
    background-color: burlywood;
    padding: 10px;
    
}