<app-header> [content] = {{pageContent.header}} </app-header>

<p> Product Name- {{newFood.name}} </p>
<p> UPC- {{newFood.upc}} </p>
<p> Quantity On Hand- {{newFood.quantity}} </p>
<p> Product Price- {{newFood.price}} </p>
<p> Product Description- {{newFood.description}} </p>
<p> Product Category- {{newFood.category}} </p>
<br>
<br>
<br>
<p> Press the delete button if you want to remove this entry from the inventory</p>
<button (click)="delete(newFood)"> Delete </button>
<br>
<br>
<br>
<br>
<p> Enter new entries below and press update if you want to update</p>
<br>
<br>
<br>

<form (ngSubmit)= "update(newFood)">
    <label for= "upc"> upc </label>
    <input [(ngModel)] = "newFood.upc" id= "upc" name="upc" required="required">
    <br>
    <label for= "name"> name </label>
    <input [(ngModel)] = "newFood.name" id= "name" name="name" required="required">
    <br>
    <label for= "quantity"> quantity </label>
    <input [(ngModel)] = "newFood.quantity" id= "quantity" name="quantity" required="required">
    <br>
    <label for= "price"> price </label>
    <input [(ngModel)] = "newFood.price" id= "price" name="price" required="required">
    <br>
    <label for= "description"> description </label>
    <input [(ngModel)] = "newFood.description" id= "description" name="description" required="required">
    <br>
    <label for= "category"> category </label>
    <input [(ngModel)] = "newFood.category" id= "category" name="category" required="required">
    <br>
    <br>
    <button type="Submit"> Update </button>
</form>    