p{
    border: 2px solid black;
    background-color: azure;
}

button{
    font-size: 30px;
    background-color: cadetblue;
    border: 3px solid black;
    text-align: center;
    
}

form{
    border: 2px solid black;
    padding: 10px;
    text-align: left;
}